.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pimg{
  height: 10rem ;
  width: 10rem ;
  border-radius: 50% ;
}

.img_container{
  display: flex;
  align-items: center;
  
}

.content{
  color: grey;
  font-size: 1.5rem;
  line-height: 1.5;
}

.main{
  display: flex;
  height: clac(100vh-10vh);
  align-items: center;
  justify-content: space-evenly;

}

.header{
  height: 2.5rem;
  border-bottom:2px solid grey ;
}

.details{
  text-align: center;
}

.main>* {
  height: 80%;
  width: 40%;
}