.login-wrapper{
    display: flex;
    justify-content: center;
}
.login-card{
    width: 28vw ;
    margin-top: 3% ;
}

.insta-logo{
    width : 100% ;
    display: flex;
    align-items: center;
    margin-top: 2% ;
    justify-content: center ;
}