.video-container{
    height : 80vh ;
    border-radius: 20px ;
    background-color: white ;
    overflow: scroll ;
    scroll-snap-type: y mandatory ;
    scrollbar-width: none ;

}

.video-container::-webkit-scrollbar{
    display: none ;
}

.videos{
    position: relative ;
}

.pp{
    position: absolute ;
    bottom: 5% ;
    left: 10% ;
}

.pp h4{
    margin: 0;
    color: white ;
    margin-top: 8% ;
    margin-left: 25% ;
}

.icon-styling{
    position: absolute ;
    bottom: 2% ;
    left: 12% ;
}
.like{
    cursor: pointer ;
    color: #e74c3c ;
}

.unlike{
    cursor: pointer ;
    color: white ;
}

.chat-styling{
    position: absolute ;
    bottom: 2% ;
    left: 25% ;
    color: white;
}

.modal-container{
    display: flex ;
    height: 100% ;
    width: 100% ;
}


.video-modal{
    display: flex ;
    height: 100% ;
    width: 50% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.comment-modal { 
    display: flex ;
    height: 100% ;
    width: 50% ;
}

.modal-video{
    height: 100% ;
    width: 100% ;
}

.modal-video video{
    height :85vh ;
}