.signupMain{
    position: absolute;
    align-items: center;
    display: flex ;
    margin-top: 39%;
    flex-direction: column ;
    gap : 10px ;
}


.outer{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    margin-top: 20vh ;
}


.image-holder{
    margin-top: 5px;
    position: relative;
}
